﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:451px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u955 {
  position:absolute;
  left:21px;
  top:32px;
  width:430px;
  height:880px;
}
#u956 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:672px;
}
#u957 {
  position:absolute;
  left:46px;
  top:136px;
  width:381px;
  height:672px;
}
#u958 {
  position:absolute;
  left:2px;
  top:328px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:357px;
  top:161px;
  width:70px;
  height:37px;
  opacity:0;
}
#u960 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
