﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1186 {
  position:absolute;
  left:24px;
  top:39px;
  width:430px;
  height:880px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:673px;
}
#u1188 {
  position:absolute;
  left:49px;
  top:143px;
  width:381px;
  height:673px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:328px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1190 {
  position:absolute;
  left:56px;
  top:168px;
  width:40px;
  height:35px;
  opacity:0;
}
#u1191 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1192 {
  position:absolute;
  left:62px;
  top:213px;
  width:206px;
  height:603px;
  opacity:0;
}
#u1193 {
  position:absolute;
  left:2px;
  top:294px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:159px;
}
#u1194 {
  position:absolute;
  left:470px;
  top:393px;
  width:294px;
  height:159px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:72px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1196 {
  position:absolute;
  left:470px;
  top:309px;
  width:211px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1198 {
  position:absolute;
  left:117px;
  top:246px;
  width:205px;
  height:20px;
}
#u1199 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1200 {
  position:absolute;
  left:117px;
  top:320px;
  width:205px;
  height:20px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1202 {
  position:absolute;
  left:117px;
  top:393px;
  width:205px;
  height:20px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1204 {
  position:absolute;
  left:117px;
  top:465px;
  width:205px;
  height:20px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1206 {
  position:absolute;
  left:117px;
  top:536px;
  width:205px;
  height:20px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1208 {
  position:absolute;
  left:117px;
  top:610px;
  width:205px;
  height:20px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1210 {
  position:absolute;
  left:117px;
  top:683px;
  width:205px;
  height:20px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1212 {
  position:absolute;
  left:117px;
  top:755px;
  width:205px;
  height:20px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1214 {
  position:absolute;
  left:470px;
  top:143px;
  width:281px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u1216 {
  position:absolute;
  left:189px;
  top:168px;
  width:113px;
  height:29px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1218 {
  position:absolute;
  left:211px;
  top:170px;
  width:68px;
  height:22px;
  font-size:16px;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
