﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:461px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1141 {
  position:absolute;
  left:31px;
  top:28px;
  width:430px;
  height:880px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u1143 {
  position:absolute;
  left:56px;
  top:132px;
  width:380px;
  height:672px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1145 {
  position:absolute;
  left:96px;
  top:356px;
  width:299px;
  height:49px;
  opacity:0;
}
#u1146 {
  position:absolute;
  left:2px;
  top:16px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
