﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1462 {
  position:absolute;
  left:25px;
  top:22px;
  width:430px;
  height:880px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u1464 {
  position:absolute;
  left:50px;
  top:126px;
  width:380px;
  height:672px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  position:absolute;
  left:57px;
  top:151px;
  width:31px;
  height:32px;
  opacity:0;
}
#u1467 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1468 {
  position:absolute;
  left:268px;
  top:721px;
  width:73px;
  height:32px;
  opacity:0;
}
#u1469 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u1470 {
  position:absolute;
  left:204px;
  top:443px;
  width:71px;
  height:71px;
  opacity:0;
}
#u1471 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1472 {
  position:absolute;
  left:482px;
  top:240px;
  width:253px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1473 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:225px;
}
#u1474 {
  position:absolute;
  left:482px;
  top:303px;
  width:382px;
  height:225px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:104px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
