﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u759 {
  position:absolute;
  left:24px;
  top:39px;
  width:430px;
  height:880px;
}
#u760 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:673px;
}
#u761 {
  position:absolute;
  left:49px;
  top:143px;
  width:381px;
  height:673px;
}
#u762 {
  position:absolute;
  left:2px;
  top:328px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u763 {
  position:absolute;
  left:56px;
  top:168px;
  width:40px;
  height:35px;
  opacity:0;
}
#u764 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:62px;
  top:213px;
  width:206px;
  height:603px;
  opacity:0;
}
#u766 {
  position:absolute;
  left:2px;
  top:294px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:159px;
}
#u767 {
  position:absolute;
  left:470px;
  top:393px;
  width:294px;
  height:159px;
}
#u768 {
  position:absolute;
  left:2px;
  top:72px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u769 {
  position:absolute;
  left:470px;
  top:309px;
  width:211px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u771 {
  position:absolute;
  left:117px;
  top:246px;
  width:205px;
  height:20px;
}
#u772 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u773 {
  position:absolute;
  left:117px;
  top:320px;
  width:205px;
  height:20px;
}
#u774 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u775 {
  position:absolute;
  left:117px;
  top:393px;
  width:205px;
  height:20px;
}
#u776 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u777 {
  position:absolute;
  left:117px;
  top:465px;
  width:205px;
  height:20px;
}
#u778 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u779 {
  position:absolute;
  left:117px;
  top:536px;
  width:205px;
  height:20px;
}
#u780 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u781 {
  position:absolute;
  left:117px;
  top:610px;
  width:205px;
  height:20px;
}
#u782 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u783 {
  position:absolute;
  left:117px;
  top:683px;
  width:205px;
  height:20px;
}
#u784 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u785 {
  position:absolute;
  left:117px;
  top:755px;
  width:205px;
  height:20px;
}
#u786 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u787 {
  position:absolute;
  left:470px;
  top:143px;
  width:224px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u788 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u789 {
  position:absolute;
  left:189px;
  top:168px;
  width:113px;
  height:29px;
}
#u790 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u791 {
  position:absolute;
  left:211px;
  top:170px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:123px;
}
#u793 {
  position:absolute;
  left:335px;
  top:362px;
  width:87px;
  height:123px;
}
#u794 {
  position:absolute;
  left:2px;
  top:54px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:123px;
}
#u795 {
  position:absolute;
  left:464px;
  top:642px;
  width:92px;
  height:123px;
}
#u796 {
  position:absolute;
  left:2px;
  top:54px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u797 {
  position:absolute;
  left:556px;
  top:656px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u798 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u799 {
  position:absolute;
  left:556px;
  top:728px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
