﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:859px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1071 {
  position:absolute;
  left:35px;
  top:33px;
  width:430px;
  height:880px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:674px;
}
#u1073 {
  position:absolute;
  left:60px;
  top:137px;
  width:380px;
  height:674px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:329px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075 {
  position:absolute;
  left:60px;
  top:161px;
  width:47px;
  height:35px;
  opacity:0;
}
#u1076 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1077 {
  position:absolute;
  left:477px;
  top:272px;
  width:253px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:225px;
}
#u1079 {
  position:absolute;
  left:477px;
  top:335px;
  width:382px;
  height:225px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:104px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  position:absolute;
  left:378px;
  top:161px;
  width:47px;
  height:35px;
  opacity:0;
}
#u1082 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
