﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u802 {
  position:absolute;
  left:24px;
  top:39px;
  width:430px;
  height:880px;
}
#u803 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:673px;
}
#u804 {
  position:absolute;
  left:49px;
  top:143px;
  width:381px;
  height:673px;
}
#u805 {
  position:absolute;
  left:2px;
  top:328px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:56px;
  top:168px;
  width:40px;
  height:35px;
  opacity:0;
}
#u807 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:62px;
  top:213px;
  width:206px;
  height:603px;
  opacity:0;
}
#u809 {
  position:absolute;
  left:2px;
  top:294px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:159px;
}
#u810 {
  position:absolute;
  left:470px;
  top:393px;
  width:294px;
  height:159px;
}
#u811 {
  position:absolute;
  left:2px;
  top:72px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u812 {
  position:absolute;
  left:470px;
  top:309px;
  width:239px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u814 {
  position:absolute;
  left:117px;
  top:246px;
  width:205px;
  height:20px;
}
#u815 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u816 {
  position:absolute;
  left:117px;
  top:320px;
  width:205px;
  height:20px;
}
#u817 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u818 {
  position:absolute;
  left:117px;
  top:393px;
  width:205px;
  height:20px;
}
#u819 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u820 {
  position:absolute;
  left:117px;
  top:465px;
  width:205px;
  height:20px;
}
#u821 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u822 {
  position:absolute;
  left:117px;
  top:536px;
  width:205px;
  height:20px;
}
#u823 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u824 {
  position:absolute;
  left:117px;
  top:610px;
  width:205px;
  height:20px;
}
#u825 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u826 {
  position:absolute;
  left:117px;
  top:683px;
  width:205px;
  height:20px;
}
#u827 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u828 {
  position:absolute;
  left:117px;
  top:755px;
  width:205px;
  height:20px;
}
#u829 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u830 {
  position:absolute;
  left:470px;
  top:143px;
  width:281px;
  height:56px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u831 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:561px;
}
#u832 {
  position:absolute;
  left:329px;
  top:214px;
  width:89px;
  height:561px;
}
#u833 {
  position:absolute;
  left:2px;
  top:272px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:18px;
}
#u834 {
  position:absolute;
  left:62px;
  top:798px;
  width:356px;
  height:18px;
}
#u835 {
  position:absolute;
  left:2px;
  top:1px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u836 {
  position:absolute;
  left:189px;
  top:168px;
  width:113px;
  height:29px;
}
#u837 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u838 {
  position:absolute;
  left:211px;
  top:170px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:123px;
}
#u840 {
  position:absolute;
  left:334px;
  top:362px;
  width:87px;
  height:123px;
}
#u841 {
  position:absolute;
  left:2px;
  top:54px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:121px;
}
#u842 {
  position:absolute;
  left:464px;
  top:610px;
  width:93px;
  height:121px;
}
#u843 {
  position:absolute;
  left:2px;
  top:52px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u844 {
  position:absolute;
  left:557px;
  top:623px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u846 {
  position:absolute;
  left:557px;
  top:696px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
