﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:455px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1437 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1438 {
  position:absolute;
  left:25px;
  top:22px;
  width:430px;
  height:880px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:673px;
}
#u1440 {
  position:absolute;
  left:50px;
  top:126px;
  width:380px;
  height:673px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1442 {
  position:absolute;
  left:60px;
  top:154px;
  width:31px;
  height:32px;
  opacity:0;
}
#u1443 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444 {
  position:absolute;
  left:50px;
  top:126px;
  width:380px;
  height:673px;
  overflow:hidden;
  visibility:hidden;
}
#u1444_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:673px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1444_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:680px;
}
#u1446 {
  position:absolute;
  left:0px;
  top:-6px;
  width:381px;
  height:680px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:332px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1448 {
  position:absolute;
  left:41px;
  top:371px;
  width:300px;
  height:50px;
  opacity:0;
}
#u1449 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  position:absolute;
  left:90px;
  top:731px;
  width:305px;
  height:42px;
  opacity:0;
}
#u1451 {
  position:absolute;
  left:2px;
  top:13px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
