﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1295 {
  position:absolute;
  left:24px;
  top:39px;
  width:430px;
  height:880px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:673px;
}
#u1298 {
  position:absolute;
  left:49px;
  top:143px;
  width:380px;
  height:673px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:68px;
}
#u1300 {
  position:absolute;
  left:61px;
  top:216px;
  width:366px;
  height:68px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:26px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1302 {
  position:absolute;
  left:47px;
  top:168px;
  width:40px;
  height:35px;
  opacity:0;
}
#u1303 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1304 {
  position:absolute;
  left:478px;
  top:178px;
  width:289px;
  height:125px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:586px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1306 {
  position:absolute;
  left:50px;
  top:218px;
  width:380px;
  height:586px;
  opacity:0;
}
#u1307 {
  position:absolute;
  left:2px;
  top:285px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308 {
  position:absolute;
  left:49px;
  top:142px;
  width:382px;
  height:674px;
  overflow:hidden;
  visibility:hidden;
}
#u1308_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:674px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1308_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:672px;
}
#u1309 {
  position:absolute;
  left:0px;
  top:1px;
  width:382px;
  height:672px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:328px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1311 {
  position:absolute;
  left:0px;
  top:28px;
  width:43px;
  height:29px;
  opacity:0;
}
#u1312 {
  position:absolute;
  left:2px;
  top:6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
