﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u531 {
  position:absolute;
  left:46px;
  top:16px;
  width:430px;
  height:880px;
}
#u532 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u533 {
  position:absolute;
  left:71px;
  top:120px;
  width:380px;
  height:672px;
}
#u534 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  position:absolute;
  left:390px;
  top:147px;
  width:55px;
  height:29px;
  opacity:0;
}
#u536 {
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:584px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u537 {
  position:absolute;
  left:77px;
  top:201px;
  width:351px;
  height:584px;
  opacity:0;
}
#u538 {
  position:absolute;
  left:2px;
  top:284px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
