﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:764px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1148 {
  position:absolute;
  left:24px;
  top:39px;
  width:430px;
  height:880px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:673px;
}
#u1150 {
  position:absolute;
  left:49px;
  top:143px;
  width:381px;
  height:673px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:328px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1152 {
  position:absolute;
  left:56px;
  top:168px;
  width:40px;
  height:35px;
  opacity:0;
}
#u1153 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1154 {
  position:absolute;
  left:62px;
  top:213px;
  width:206px;
  height:603px;
  opacity:0;
}
#u1155 {
  position:absolute;
  left:2px;
  top:294px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:159px;
}
#u1156 {
  position:absolute;
  left:470px;
  top:393px;
  width:294px;
  height:159px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:72px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1158 {
  position:absolute;
  left:470px;
  top:309px;
  width:211px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1159 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1160 {
  position:absolute;
  left:117px;
  top:246px;
  width:205px;
  height:20px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1162 {
  position:absolute;
  left:117px;
  top:320px;
  width:205px;
  height:20px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1164 {
  position:absolute;
  left:117px;
  top:393px;
  width:205px;
  height:20px;
}
#u1165 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1166 {
  position:absolute;
  left:117px;
  top:465px;
  width:205px;
  height:20px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1168 {
  position:absolute;
  left:117px;
  top:536px;
  width:205px;
  height:20px;
}
#u1169 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1170 {
  position:absolute;
  left:117px;
  top:610px;
  width:205px;
  height:20px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1172 {
  position:absolute;
  left:117px;
  top:683px;
  width:205px;
  height:20px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
}
#u1174 {
  position:absolute;
  left:117px;
  top:755px;
  width:205px;
  height:20px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:2px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1176 {
  position:absolute;
  left:470px;
  top:143px;
  width:281px;
  height:96px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u1177 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:18px;
}
#u1178 {
  position:absolute;
  left:62px;
  top:798px;
  width:356px;
  height:18px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:1px;
  width:352px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u1180 {
  position:absolute;
  left:189px;
  top:168px;
  width:113px;
  height:29px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1182 {
  position:absolute;
  left:211px;
  top:170px;
  width:68px;
  height:22px;
  font-size:16px;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
