﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u187 {
  position:absolute;
  left:30px;
  top:25px;
  width:430px;
  height:880px;
}
#u188 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u189 {
  position:absolute;
  left:55px;
  top:129px;
  width:380px;
  height:672px;
}
#u190 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:65px;
  top:154px;
  width:40px;
  height:34px;
  opacity:0;
}
#u192 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:55px;
  top:198px;
  width:92px;
  height:35px;
  opacity:0;
}
#u194 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:55px;
  top:194px;
  width:380px;
  height:607px;
  overflow:hidden;
  visibility:hidden;
}
#u195_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:607px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u195_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:607px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:607px;
}
#u197 {
  position:absolute;
  left:2px;
  top:296px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  position:absolute;
  left:0px;
  top:43px;
  width:380px;
  height:134px;
  opacity:0;
}
#u199 {
  position:absolute;
  left:2px;
  top:59px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:354px;
  top:199px;
  width:54px;
  height:34px;
  opacity:0;
}
#u201 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u202 {
  position:absolute;
  left:65px;
  top:254px;
  width:176px;
  height:290px;
  opacity:0;
}
#u203 {
  position:absolute;
  left:2px;
  top:137px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  position:absolute;
  left:251px;
  top:254px;
  width:176px;
  height:339px;
  opacity:0;
}
#u205 {
  position:absolute;
  left:2px;
  top:162px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  position:absolute;
  left:65px;
  top:600px;
  width:176px;
  height:201px;
  opacity:0;
}
#u207 {
  position:absolute;
  left:2px;
  top:92px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:55px;
  top:195px;
  width:380px;
  height:606px;
  overflow:hidden;
  visibility:hidden;
}
#u208_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:606px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u208_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:607px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:607px;
}
#u210 {
  position:absolute;
  left:2px;
  top:296px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  position:absolute;
  left:215px;
  top:5px;
  width:64px;
  height:34px;
  opacity:0;
}
#u212 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  position:absolute;
  left:8px;
  top:4px;
  width:79px;
  height:34px;
  opacity:0;
}
#u214 {
  position:absolute;
  left:2px;
  top:9px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  position:absolute;
  left:17px;
  top:58px;
  width:347px;
  height:233px;
  opacity:0;
}
#u216 {
  position:absolute;
  left:2px;
  top:108px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:233px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  position:absolute;
  left:18px;
  top:366px;
  width:347px;
  height:233px;
  opacity:0;
}
#u218 {
  position:absolute;
  left:2px;
  top:108px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
