﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:468px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u580 {
  position:absolute;
  left:38px;
  top:32px;
  width:430px;
  height:880px;
}
#u581 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u582 {
  position:absolute;
  left:63px;
  top:136px;
  width:380px;
  height:672px;
}
#u583 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u584 {
  position:absolute;
  left:383px;
  top:163px;
  width:50px;
  height:26px;
  opacity:0;
}
#u585 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586 {
  position:absolute;
  left:75px;
  top:245px;
  width:358px;
  height:56px;
  opacity:0;
}
#u587 {
  position:absolute;
  left:2px;
  top:20px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u588 {
  position:absolute;
  left:75px;
  top:355px;
  width:358px;
  height:56px;
  opacity:0;
}
#u589 {
  position:absolute;
  left:2px;
  top:20px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  position:absolute;
  left:75px;
  top:465px;
  width:358px;
  height:56px;
  opacity:0;
}
#u591 {
  position:absolute;
  left:2px;
  top:20px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
