﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u333 {
  position:absolute;
  left:30px;
  top:24px;
  width:430px;
  height:880px;
}
#u334 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:672px;
}
#u335 {
  position:absolute;
  left:55px;
  top:128px;
  width:380px;
  height:672px;
}
#u336 {
  position:absolute;
  left:2px;
  top:328px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u337 {
  position:absolute;
  left:65px;
  top:179px;
  width:364px;
  height:621px;
  opacity:0;
}
#u338 {
  position:absolute;
  left:2px;
  top:302px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
